@mixin listTextDecoration {
    text-decoration: none;
    list-style: none;
}

@mixin flexCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @mixin showcaseBg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  