$primaryText: 'Poppins', sans-serif;

$bg-color: #E9EFEC; // Background color
$text-main: #0000;   // Text color
$text-secondary: #ffff; // Text color
$main-color: #6A9C89; // Main color
$main-color-dark: #16423C; // Main color dark
$secondary-color: #C4DAD2; // Secondary color

$header-height: 120px;