@import "../partials/variables.scss";
@import "../partials/mixins.scss";


/* Use SCSS variables to set CSS custom properties (variables) */
.navbar.open {
    display: flex;
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $primaryText;
    @include listTextDecoration();
}

body {
    min-height: 100vh;
    background: $bg-color;
    color: $text-secondary;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex; 
    align-items: center; 
    justify-content: space-between; // Space between logo, navbar, and main section
    background: $main-color;
    padding: 20px 10%;
    height: $header-height;
}

.logo {
    display: flex;
    align-items: center;
}

.logo i {
    color: $main-color-dark;
    font-size: 28px;
    margin-right: 3px;
}

.logo span {
    color: $text-secondary;
    font-size: 2.0rem;
    font-weight: 900;
}

.navbar {
    display: flex; 
    list-style: none; 
    gap: 40px;
    
}




.navbar a {
    color: $text-secondary;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 5px 0;
    transition: all 0.2s ;

    
}

.navbar a:hover {
    color: $main-color-dark;
}

.navbar a.active {
    color: $main-color-dark;
}


.user {
    display: flex;
    align-items: center;
}

.user i {
    color: $main-color-dark;
    font-size: 28px;
    margin-right: 7px;
}


#menu-icon {
    font-size: 40px;
    color: $text-secondary;
    cursor: pointer;
    z-index: 10001;
    display: block;
    transition: all 0.2s;
}

// Styling for when the hamburger menu is open (X icon)
#menu-icon.open {
    transform: rotate(90deg);
}
/* ##### Responsive Styles for Mobile Devices ##### */
/*Small smartphones [325px -> 425px]*/





/*Big smartphones [426px -> 600px]*/


 /*Tablets [601px -> 1200px]*/
 @media ( width <= 1200px) {
    #menu-icon {
        display: block;  
    }
    .navbar {
        display: none;
        position: absolute;
        top: 120px;
        right: 0;
        width: 290px;
        height: 352.5px;
        background: #C4DAD2;
        flex-direction: column;
        border-radius: 10px;
        gap: 0;
        
    }
    .navbar li {
        padding: 20px 0;
    }
    .navbar a:hover {
        color: $text-secondary;
        transform: translateX(5px);
    }
    
    .navbar a.active {
        font-weight: 700;
        border: 0px 0px 0px 7px solid $main-color;
        color: $main-color-dark;
        border-left: solid $main-color-dark 9px;
    }
    .navbar a {
        color: #434343;
        padding: 20px 150px 20px 20px;
        width: 290px;
    }
    

}

/* big desktop max-width:1280px */
@media (width > 1200px) {
    #menu-icon {
        display: none;  
    }
  
    header{
        padding: 14px 150px;
    }

    
}
